<p>새 글 쓰기</p>
<form action="/wrtie" method="POST">
    제목<br>
    <input type="text" name="title"/><br>
    내용<br>
    <textarea name="content" rows="7" col="120"></textarea><br>
    <button>create</button>
</form>